{% extends "shop/base.html" %} 

{% block title %}My cart{% endblock %} 

{% block style_sheet %}
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }
  #main {
    height: 100%;
    width: 100%;
  }
  #cart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #list{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #card{
    min-height: 150px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border: 1px rgb(63, 63, 63) solid;
    border-radius: 10px;
  }
  #image{
    height: 90%;
    width: 30%;
  }
  
  #name{
    height: 100%;
    width: 40%;
    margin-right: 20px;
    padding: 5px 5px;
    font-size: 10px;
  }
  #remove-btn{
    height: 40px;
    width: 100px;
    border: 1px blue solid;
    border-radius: 5px;
    background-color: rgb(48, 117, 237);
    color: white;
  }
  #remove-btn:hover{
    background-color: blue;
  }
</style>
{% endblock %} 

{% block content %} 

<div id="cart">
  <div id="list">
{% for item in items %}
    <div id="card">
    <div id="image"><img src="{{item.product.image.url}}" alt="product_image"></div>
    <div id="name"><h4>{{item.product.product_name}}</h4></div>
    <a id="remove-btn" href="{% url 'shop:removecart' item.product.product_id %}">Remove</a>
    </div>
    {% empty %}
    <h3>Your cart is empty now.</h3>
{% endfor %}
  </div>
</div>




{% endblock content %}
