{% extends 'shop/base.html' %} 

{% load static %} 

{% block title %}Shop | Home{%endblock %} 

{% block style_sheet %}
<link rel="stylesheet" href="{% static 'shop/css/shophomestyle.css'%}" />
{% endblock %} 

{% block content%}
<div id="products">
  {% for product in product_list %} 
  {% if forloop.counter0|divisibleby:products_per_row %}
  <div class="row">
    {% endif %}

    <div class="card" style="width: 18rem">
      <img src="{{product.image.url}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{product.product_name}}</h5>
        <p class="card-text">
          {{product.description}}
        </p>
      </div>
    </div>


    {% if forloop.counter|divisibleby:products_per_row %}
    </div>
    {% endif %}
    {% empty %} <p>No products available.</p>
        
  {% endfor %} 
  </div>
  {% endblock %}
    