{% extends 'shop/base.html' %} 

{% load static %} 

# title block
{% block title %}Shop | Home{%endblock %} 


# style sheet block
{% block style_sheet %}


<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="{% static 'shop/css/shophomestyle.css'%}" />

<style>

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  } 

  html,
  body {
    height:100%;
    width: 100%;
  }

  #main {
    height: auto;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  }

  .row-slider {
    width: 90%;
    margin: 30px auto;
    height: 260px;
    /* background: #f9f9f9; */
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 15px;
  }

  .row-slider .swiper-slide {
    width: 180px;
    height: 180px;
    background: #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
  }

  .swiper-slide{
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
  }

  .btns{
    display: flex;
    min-height: 10%;
    margin-bottom: -50px;
    padding: 10px 10px 10px 10px;
    gap: 2px;
  }

  .swiper-button-prev{
    margin-left: -15x;
    cursor: pointer;
  }

  .swiper-button-next{
    margin-right: -10px;
    cursor: pointer;
  }

  .swiper-wrapper  .btns button{
    background-color: rgb(40, 40, 231);
    color: white;
    border: 1px blue;
    border-radius: 8px;
    padding: 5px 2px;
    margin-bottom: -25px;
  }

  .swiper-wrapper  .btns button:hover{
    cursor: pointer;
    background-color: rgb(13, 13, 67);
  }


  .category{
    display: block;
    height: 40px;
    width: 89%;
    background-color: rgb(61, 122, 235);
    color: white;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* or contain, depending on your need */
    border-radius: 10px; /* optional: matches slider's rounded corners */

}

</style>

{% endblock %} 



# content block
{% block content%}
  

  {% for category, list in category_list.items %}
    <h6 class="category">{{category}}</h6>
    <div class="swiper row-slider">
      <div class="swiper-wrapper">
        {% for product in list %}
          <div class="swiper-slide"><img src="{{product.image.url}}" alt="product-image"> <br> <span class="btns"><button id="{{product.product_id}}" class="add-cart">add cart</button> <button><a href="{% url 'product_view' product.product_id %}">view product</a></button></span></div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  {% endfor %}

{% endblock %}



  # js block
  {% block js %}

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    document.querySelectorAll('.row-slider').forEach((slider, index) => {
  new Swiper(slider, {
    slidesPerView: 5,
    spaceBetween: 40,
    loop: true,
    navigation: {
      nextEl: slider.querySelector('.swiper-button-next'),
      prevEl: slider.querySelector('.swiper-button-prev'),
    }
  });
});
  </script>
  <script>

    if(localStorage.getItem("cart") === null){
      let items = {}
      localStorage.setItem("cart", JSON.stringify(items))
    }
    $('.add-cart').on("click", (event) => {
      let clicked_on = event.target.id;
      let items = JSON.parse(localStorage.getItem("cart"))
      if(items[clicked_on] === undefined) items[clicked_on] = 1;
      else items[clicked_on] += 1
      localStorage.setItem("cart", JSON.stringify(items))
});
    
  </script>

  {% endblock %}
